<!DOCTYPE html>
<html>
<head>
  <title>Filmoteka</title>

  <%= render partial: 'shared/navbar' %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div id="MainContentBox">
<%= yield %>
	</div>

	<footer> <p><%= link_to "Link do My Github", "/auth/facebook", id: "sign_in" %></p></footer>
</body>
</html>
